/* ------------------------------------------------------------- */

/* Lucky Wheel Modal - Variables */

/* ------------------------------------------------------------- */

/* Lucky Wheel Modal General */
$lucky_wheel-modal-maxWidth: 1000px;
$lucky_wheel-modal-width: 92%;
$lucky_wheel-modal-height: 724px;
$lucky_wheel-modal-transition: all 300ms ease;

/* ------------------------------------------------------------- */
